<h1>Create</h1>
<div class="container">
  <div class="form-row">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="title">
      <textarea name="description" id="" cols="30" rows="10"></textarea>
      <select name='category' required id='id_category'>
        <option value="1">Jeans</option>
        <option value="2">Shoes</option>
      </select>
      <input type="number" min="1" step="any" name='price' />
      <input type="file" name='image'>

      <button type="submit" class="btn btn-outline-dark">Create</button>
    </form>
  </div>
</div>