{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tmart-Minimalist eCommerce HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
    

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Owl Carousel main css -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="{% static 'css/shortcode/shortcodes.css' %}">
    <!-- Theme main style -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- User style -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">


    <!-- Modernizr JS -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    <div class="wrapper fixed__footer">
        <!-- Start Header Style -->
        <header id="header" class="htc-header header--3 bg__white">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
                            <div class="logo">
                                <a href="{% url 'product' %}">
                                    <img src="{% static 'images/logo/logo.png' %}" alt="logo">
                                </a>
                            </div>
                        </div>
                        <!-- Start MAinmenu Ares -->
                        <div class="col-md-8 col-lg-8 col-sm-6 col-xs-6">
                            <nav class="mainmenu__nav hidden-xs hidden-sm">
                                <ul class="main__menu">
                                    <li class="drop"><a href="{% url 'product' %}">Home</a>
                                       
                                    </li>
                                    {% if request.user.is_authenticated and request.user.is_staff %}
                                    <li class="drop"><a href="{% url 'update' product.id %}">Update</a>
                                       
                                    </li>
                                    <li class="drop"><a href="{% url 'delete' product.id %}">Delete</a>
                                       
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            <div class="mobile-menu clearfix visible-xs visible-sm">
                                <nav id="mobile_dropdown">
                                    <ul>
                                        <li><a href="index.html">Home</a>
                                          
                                        </li>
                                        <li><a href="#">portfolio</a>
                                            
                                        </li>
                                        <li><a href="blog.html">blog</a>
                                           
                                        </li>
                                        <li><a href="#">pages</a>
                                           
                                        </li>
                                        <li><a href="contact.html">contact</a></li>
                                    </ul>
                                </nav>
                            </div>                          
                        </div>
                        <!-- End MAinmenu Ares -->
                        <div class="col-md-2 col-sm-4 col-xs-3">  
                            
                        </div>
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <!-- End Header Style -->
        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <div class="search__area">
                <div class="container" >
                    <div class="row" >
                        <div class="col-md-12" >
                            <div class="search__inner">
                                <form action="#" method="get">
                                    <input placeholder="Search here... " type="text">
                                    <button type="submit"></button>
                                </form>
                                <div class="search__close__btn">
                                    <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Search Popap -->
            <!-- Start Offset MEnu -->
            <div class="offsetmenu">
                <div class="offsetmenu__inner">
                    <div class="offsetmenu__close__btn">
                        <a href="#"><i class="zmdi zmdi-close"></i></a>
                    </div>
                    <div class="off__contact">
                        <div class="logo">
                            <a href="index.html">
                                <img src="{% static 'images/logo/logo.png' %}" alt="logo">
                            </a>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetu adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                    <ul class="sidebar__thumd">
                        <li><a href="#"><img src="images/sidebar-img/1.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/2.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/3.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/4.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/5.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/6.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/7.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/8.jpg" alt="sidebar images"></a></li>
                    </ul>
                    <div class="offset__widget">
                        <div class="offset__single">
                            <h4 class="offset__title">Language</h4>
                            <ul>
                                <li><a href="#"> Engish </a></li>
                                <li><a href="#"> French </a></li>
                                <li><a href="#"> German </a></li>
                            </ul>
                        </div>
                        <div class="offset__single">
                            <h4 class="offset__title">Currencies</h4>
                            <ul>
                                <li><a href="#"> USD : Dollar </a></li>
                                <li><a href="#"> EUR : Euro </a></li>
                                <li><a href="#"> POU : Pound </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset__sosial__share">
                        <h4 class="offset__title">Follow Us On Social</h4>
                        <ul class="off__soaial__link">
                            <li><a class="bg--twitter" href="#"  title="Twitter"><i class="zmdi zmdi-twitter"></i></a></li>
                            
                            <li><a class="bg--instagram" href="#" title="Instagram"><i class="zmdi zmdi-instagram"></i></a></li>

                            <li><a class="bg--facebook" href="#" title="Facebook"><i class="zmdi zmdi-facebook"></i></a></li>

                            <li><a class="bg--googleplus" href="#" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a></li>

                            <li><a class="bg--google" href="#" title="Google"><i class="zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Offset MEnu -->
            <!-- Start Cart Panel -->
           
        </div>
        <section class="blog-details-wrap ptb--120 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                        <div class="blod-details-right-sidebar">
                           
                            <!-- Start Category Area -->
                            
                            
                            <div class="our-blog-comment mt--20">
                                <div class="blog-comment-inner">
                                    <h2 class="section-title-2">COMMENTS ({{reviews.count}})</h2>
                                    {% for review in reviews %}
                                    <div class="single-blog-comment">
                                        <div class="blog-comment-thumb">
                                            <img src="{{ review.username.profile.photo.url }}" width="60" height="60" alt="comment images">
                                        </div>
                                        <div class="blog-comment-details">
                                            <div class="comment-title-date">
                                                <h2><a href="#">{{review.username}}</a></h2>
                                               
                                            </div>
                                            <p>{{review.text}}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- End Letaest Blog Area -->
                            <!-- Start Tag -->
                           
                            <!-- End Tag -->
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                        <div class="blog-details-left-sidebar mrg-blog">
                            <div class="blog-details-top">
                                <!--Start Blog Thumb -->
                                <div class="blog-details-thumb-wrap">
                                    <div class="blog-details-thumb">
                                        <img src="{{ product.image.url }}" alt="blog images">
                                    </div>
                                    <div class="upcoming-date">
                                        <span class="upc-mth">{{ product.created }}</span>
                                    </div>
                                </div>
                                <br>
                                <h2>{{ product.title }}</h2>
                                <div class="blog-admin-and-comment">
                                    <p class="separator">$<strong>{{product.price}}</strong></p>
                                    <br>
                                    <p class="separator"><strong>{{product.category}}</strong></p>
                                </div>
                                <hr>
                                <div class="blog-details-pra">
                                    <h2>{{product.description}}</h2>
                                </div>
                                <hr>
                                <!-- End Blog Comment Area -->
                                <!-- Start Reply Form -->
                                {% if request.user.is_authenticated %}
                                <div class="our-reply-form-area mt--20">
                                    <h2 class="section-title-2">leave a review</h2>
                                    <div class="reply-form-inner mt--40">
                                        
                                        <div class="reply-form-box">
                                            <form action="." method="POST">
                                                {% csrf_token %}
                                                {{review_form|crispy}}
                                                    <button type="submit" class="btn">Add</button>
                                                
                                            </form>
                                        </div>
                                        
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
    </div>
    <!-- Body main wrapper end -->
    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script src="{% static 'js/vendor/jquery-1.12.0.min.js' %}"></script>
    <!-- Bootstrap framework js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- All js plugins included in this file. -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- Waypoints.min.js. -->
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>