body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
}

.paginator {
    width: 280px;
    padding: 10px;
    margin: 30px auto;
    white-space: nowrap;
}

.paginator a,
.paginator span {
    display: inline-block;
    min-width: 20px;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background: #95a5a6;
}

.paginator .prev {
    background-image: url("/assets/course14/arrows.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}



.paginator .current {
    background-color: #8d8a8b;
}

.paginator .disabled {
     opacity: 0.3;
}

.paginator a:hover {
    background-color: #8d8a8b;
}